ACCESS_TOKEN_EXPIRY=1d
ACCESS_TOKEN_KEY="ShareMap#2635"
CORS_ORIGIN=*
MONGODB_URI=mongodb+srv://ShareMap:f3S8LEDnDQNOltnP@sharemapcluster.dka0m.mongodb.net
PORT=8080
REFRESH_TOKEN_EXPIRY=10d
REFRESH_TOKEN_KEY="ShareMap#2635"